<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Speech-to-Text GMM & HMM</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="#" rel="icon">
  <link href="#" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css?v=3.4.1.4.1" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css?v=3.4.1.4.1" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css?v=3.4.1.4.1" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css?v=3.4.1" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css?v=3.4.1" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css?v=3.4.1" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css?v=3.4.1" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a class="navbar-brand" href="#"><img src="static/img/text-to-speech.png" alt="" class="img-fluid"></a>
          <span class="navbar-brand mb-0 h1 text-uppercase" style="color: black;">Speech-to-Text GMM & HMM</span>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#">Home</a></li>
          <li><a class="nav-link scrollto" href="/prediction">Prediction</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>About</h2><br>
          <h2><b>Speech-to-Text <br>Gaussian Mixture Model & Hidden Markov Model</b></h2><br>
          <img src="static/img/text-to-speech.png" alt="" class="img-fluid" style="max-width: 15%;">
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-6" data-aos="fade-up">
            <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
              <p class="fst-italic" style="text-align: center;">
                Speech-to-Text is a technology that can convert voice data into text data. This allows computers to understand human language through voice commands. We combine machine learning technology into Speech-to-Text, namely the Gaussian Mixture Model and the Hidden Markov Model to identify sounds in text.
              </p><br>
              <ul>
                <li><i class="bx bx-check-double"></i> Supported Languages : English</li>
                <li><i class="bx bx-check-double"></i> Audio Format Supported : .wav</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->
    
    <!-- ======= Organization Section ======= -->
    <section id="organization" class="organization">
      <div class="container">

        <div class="row justify-content-center">

          <div class="col-lg-2 col-md-4 col-6" data-aos="zoom-in">
            <img src="static/img/organization/hmifUnsri_logo.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6" data-aos="zoom-in" data-aos-delay="100">
            <img src="static/img/organization/logo-unsri3.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6" data-aos="zoom-in" data-aos-delay="200">
            <img src="static/img/organization/LogoKM (1).png" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Team</h2>
          <p>Our Magnificent Teams !</p>
        </div>

        <div class="row justify-content-center">

          <div class="col-lg-3 col-md-5 d-flex align-items-stretch">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="member-img">
                <img src="static/img/team/irvan-2.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Irvan Kurniawan</h4>
                <span>NIM 09021181924159</span>
                <p>Teknik Informatika (2019) <br>Universitas Sriwijaya</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-5 d-flex align-items-stretch">
              <div class="member" data-aos="zoom-in" data-aos-delay="300">
                <div class="member-img">
                  <img src="static/img/team/daffa.jpg" class="img-fluid" alt="">
                </div>
                <div class="member-info">
                  <h4>Muhammad Daffa Rizky Fatarah</h4>
                  <span>NIM 09021181924014</span>
                  <p>Teknik Informatika (2019) <br>Universitas Sriwijaya</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-5 d-flex align-items-stretch">
                <div class="member" data-aos="zoom-in">
                  <div class="member-img">
                    <img src="static/img/team/osvari.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="member-info">
                    <h4>Osvari Arsalan, S.Kom., M.T</h4>
                    <span>NIP 198806282018031001</span>
                    <p>Teknik Informatika <br>Universitas Sriwijaya</p>
                  </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-5 d-flex align-items-stretch">
              <div class="member" data-aos="zoom-in" data-aos-delay="200">
                <div class="member-img">
                  <img src="static/img/team/rizki.jpg" class="img-fluid" alt="">
                </div>
                <div class="member-info">
                  <h4>Rizki Kurniati, M.T.</h4>
                  <span>NIP 199107122019032016</span>
                  <p>Teknik Informatika <br>Universitas Sriwijaya</p>
                </div>
              </div>
            </div>
  
          </div>
        </div>
          

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Feel Free to Contact Us</p>
        </div>

        <div class="row justify-content-center">

          <div class="col-lg-4">
            <div class="info d-flex flex-column justify-content-center" data-aos="fade-right">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Address:</h4>
                <p>Universitas Sriwijaya</p>
                <p>Jl. Raya Palembang - Prabumulih Km. 32<br>Indralaya, OI, Sumatera Selatan 30662</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>humas@unsri.ac.id</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Telephone:</h4>
                <p>0711-58069</p>
              </div>

            </div>

          </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">

      <div class="container">

        <div class="row justify-content-center">
          <div class="col-lg-6">
            <a href="#header" class="scrollto footer-logo"><img src="static/img/text-to-speech.png" alt=""></a>
            <h3>Speech-to-Text <br>GMM & HMM</h3>
            <p>Recognize your Audio with Machine Learning</p>
          </div>
        </div>

      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Cloud</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#">Cloud</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/aos/aos.js?v=3.4.1"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js?v=3.4.1"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js?v=3.4.1"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js?v=3.4.1"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js?v=3.4.1"></script>
  <script src="static/vendor/php-email-form/validate.js?v=3.4.1"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js?v=3.4.1"></script>

</body>

</html>